/* styles.css */

body {
    font-family: 'Golos Text', sans-serif;
    background-color: rgba(208, 207, 179, 0.99)
}

h1 {
    position: relative;
    display: inline-block;
}

h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Adjust the height of the line as needed */
    background-color: #000; /* Adjust the color of the line */
}

.artist-block {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(228, 229, 229, 0.99); /* Transparent white background */
    list-style: none; /* Remove list bullets */
}

.playcount {
    font-weight: bold;
    color: #0066cc; /* Blue color */
}

.other {
    font-weight: bold;
    color: #1400cc; /* Blue color */
}

.logo-button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.lastfm-logo {
    width: 80px; /* Set the width of the Last.fm logo */
    height: auto; /* Maintain aspect ratio */
}

.youtube-logo {
    width: 80px; /* Set the width of the YouTube logo */
    height: auto; /* Maintain aspect ratio */
}

.user_button {
    background-color: #e1ecf4;
    border-radius: 5px; /* Increased border-radius for a rounded appearance */
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 16px; /* Increased font size */
    font-weight: 400;
    line-height: 1.6; /* Increased line-height for better vertical spacing */
    margin: 0;
    outline: none;
    padding: 12px 1.6em; /* Increased padding for a larger button */
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.about-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
}

.goback-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a3a3a3;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
}