<!DOCTYPE html>
<html>
<head>
    <title>Last.fm Game</title>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;700&display=swap" media="print" onload="this.media='all'">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>LAST.FM GAME</h1>

    <form method="post" action="{{ url_for('render_random_artists') }}">
        <label for="username">Enter your Last.fm username:</label>
        <input type="text" name="username" optional>
        <button type="submit">Get Random Artists</button>
    </form>

    <form method="post" action="{{ url_for('render_random_artists') }}">
        <button class ="user_button" type="submit" name="username" value="Vettoreja">Vettoreja</button>
        <button class ="user_button" type="submit" name="username" value="ChaoticDots">ChaoticDots</button>
    </form>

    {% if random_artists %}
        
        <h2>Random Artists for {{ username }}:</h2>
        <p><strong>Random Page:</strong> <span class="other">{{ random_artists.random_page }}</span></p>
        <p><strong>Positions:</strong> <span class="other">{{ random_artists.positions }}</span></p>
        <ul>
            {% for artist in random_artists.artists %}
                <div class="artist-block">

                    <div class="upper-right-text">{{ artist.tags }}</div>

                    <strong>Name:</strong> {{ artist.name }}<br>
                    <strong>Playcount:</strong> <span class="playcount">{{ artist.playcount }}</span><br>

                    <a class="logo-button" href="{{ artist.url }}" target="_blank">
                        <img class="lastfm-logo" src="{{ url_for('static', filename='img/lastfm.png') }}" alt="Last.fm Logo">
                    </a>
                
                    <a class="logo-button" href="{{ artist.youtube_url }}" target="_blank">
                        <img class="youtube-logo" src="{{ url_for('static', filename='img/youtube.png') }}" alt="YouTube Logo">
                    </a>

                </div>
            {% endfor %}
        </ul>
    {% endif %}

    <a href="{{ url_for('about') }}" class="about-button">About</a>

</body>
</html>
